@page "/admin/products"
@page "/admin"
@inherits OwningComponentBase<IStoreRepository>
@inject IPopupNotification popupNotification

<Confirmation @ref="confirmation" OnCancel="OnCancel" OnConfirm="OnConfirm" IsConfirm="true" Title="Удаление товара...">
	<div class="toast-body">
		Вы уверены что хотите удалить товар
		@if (ProductToBeDelete != null)
		{
			<p>@ProductToBeDelete.Name ?</p>
		}
	</div>
</Confirmation>
<div class="admin-notification__wrapper">
	<Popup ListNotifications="ListNotifications" />
</div>

<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th>ID</th>
			<th>Изображение</th>
			<th>Название</th>
			<th>Артикул</th>
			<th>Категория</th>
			<th>Цена</th>
			<th>Скидка %</th>
			<th>Старая цена</th>
			<td />
		</tr>
	</thead>
	<tbody>
		@if (ProductData?.Count() > 0)
		{
			@foreach (Product p in ProductData)
			{
				<tr>
					<td>@p.ProductID</td>
					<td><img class="img-fluid" style="height: 80px;" src=@p.MainPhoto></td>
					<td>@p.Name</td>
					<td>@p.Artikul</td>
					<td>@p.Category?.CategoryName</td>
					<td>@p.Price.ToString("c")</td>
					<td>@p.Discount</td>
					<td>@p.OldPrice?.ToString("C")</td>
					<td class="text-center">
						<NavLink class="btn btn-info btn-sm" href="@GetDetailsUrl(p.ProductID ?? 0)">
							Подробнее
						</NavLink>
						<NavLink class="btn btn-warning btn-sm" href="@GetEditUrl(p.ProductID ?? 0)">
							Изменить
						</NavLink>
						<button class="btn btn-danger btn-sm" @onclick="@(e => DeleteProduct(p))">
							Удалить
						</button>
					</td>
				</tr>
			}
		}
		else
		{
			<tr>
				<td colspan="5" class="text-center">Товары, не найдены.</td>
			</tr>
		}
	</tbody>
</table>
<NavLink class="btn btn-primary" href="/admin/products/create">Добавить</NavLink>

@code {
	public IStoreRepository Repository => Service;
	public IEnumerable<Product> ProductData { get; set; } = Enumerable.Empty<Product>();

	public List<Category>? DisplayedCategories { get; set; }


	protected async override Task OnInitializedAsync()
	{
		DisplayedCategories = await Repository.Category.Select(c => c).Distinct().ToListAsync(); //получение категорий
		await UpdateData();
	}

	public async Task UpdateData()
	{
		ProductData = await Repository.Products.ToListAsync();
	}

	public void DeleteProduct(Product p)
	{
		ProductToBeDelete = p;
		confirmation?.Show();
	}

	public string GetDetailsUrl(long id) => $"/admin/products/details/{id}";
	public string GetEditUrl(long id) => $"/admin/products/edit/{id}";

	Confirmation? confirmation;
	private Product? ProductToBeDelete { get; set; }

	private async Task OnConfirm()
	{
		if (ProductToBeDelete != null)
		{
			Repository.DeleteProduct(ProductToBeDelete);
			confirmation?.Hide();
			Notification notification = new Notification(1, "Товар удалён", "Удалён товар", ProductToBeDelete!.Name);
			popupNotification.AddItem(notification);
			ProductToBeDelete = null;
			await UpdateData();
		}
	}

	private void OnCancel()
	{
		confirmation?.Hide();
		Notification notification = new Notification(1, "Отмена удаления", "Отменено удаление товара", ProductToBeDelete!.Name);
		popupNotification.AddItem(notification);
		ProductToBeDelete = null;
	}

	private List<Notification> ListNotifications { get; set; } = new();

	protected override async Task OnParametersSetAsync()
	{
		ListNotifications = await popupNotification.GetItems();
		StateHasChanged();
	}
}
