@page "/admin/categories/edit/{id:long}"
@page "/admin/categories/create"
@inherits OwningComponentBase<ICategoryRepository>
@inject IPopupNotification popupNotification
@inject IFolderManager folderManager

<h3 class="bg-@ThemeColor text-white text-center p-1">@TitleText категорий</h3>
<TabControl>
	<TabPage Text="Категория" IsActive="true">
		<h1 class="">Свойства</h1>
		<EditForm Model="Category" OnValidSubmit="SaveCategory" id="creatCategoryForm">
			<DataAnnotationsValidator />
			<div class="row row-cols-2">
				<div class="col">
					@if (Category.ID != 0)
					{
						<div class="form-group mb-4">
							<label>ID</label>
							<input class="form-control" disabled value="@Category.ID" />
						</div>
					}
					<div class="form-group mb-4">
						<label>Название категории</label>
						<ValidationMessage For="@(() => Category.CategoryName)" />
						<InputText class="form-control" @bind-Value="Category.CategoryName" />
					</div>
					<div class="form-group mb-4">
						<label>ID родительской категории</label>
						<ValidationMessage For="@(() => Category.ParentID)" />
						<InputNumber class="form-control" @bind-Value="Category.ParentID" />
					</div>
					<div class="form-group mb-4">
						<label>Показывать на главной</label>
						<InputCheckbox class="" @bind-Value="Category.DisplayHomePage" />
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<img class="img-fluid" style="height: 250px;" src=@Category.CategoryImg>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label>Описание категории</label>
					<ValidationMessage For="@(() => Category.Description)" />
					<InputTextArea class="form-control" @bind-Value="Category.Description" />
				</div>
			</div>
		</EditForm>
	</TabPage>
	<TabPage Text="Галерея" IsActive=@TabIsActive>
		<EditForm Model="Category" OnValidSubmit="SaveCategory" id="creatCategoryForm">
			<DataAnnotationsValidator />
			<div class="form-group col-3 mb-4">
				<label>Основное изображение</label>
				<img class="img-fluid" style="height: 250px;" src="@Category.CategoryImg">
				<ImgManagerControl @bind-ChildName="Category.CategoryImg" PathFolder="@urlPath"
					FolderName="@Category.ID.ToString()" IsSlider="false" />
			</div>
			<div class="col-12">
				<div class="form-group mb-2">
					<label>Показывать слайдер</label>
					<InputCheckbox class="" @bind-Value="Category.DisplaySlider" />
				</div>
				@if (Category.DisplaySlider)
				{
					<div class="form-group row mb-4">
						<label>Слайдер</label>
						<ImgManagerControl @bind-ChildName="Category.Slider" PathFolder="@urlPath"
						FolderName="@Category.ID.ToString()" IsSlider="true" />
					</div>
				}
			</div>
		</EditForm>
	</TabPage>
	<TabPage Text="Доп. блоки" IsActive="@TabIsActive">
		<h1>Дополниетельные блоки для категорий</h1>
		<EditForm Model="Category" OnValidSubmit="SaveCategory" id="creatCategoryForm">
			<DataAnnotationsValidator />
			<div class="row row-cols-2">
				<div class="col">
					<div class="form-group mb-4">
						<label>Заголовок 2го блока</label>
						<InputText class="form-control" @bind-Value="Category.HeadingTwo" />
					</div>
					<div class="form-group">
						<label>Описнаие для 2го блока</label>
						<InputTextArea class="form-control" @bind-Value="Category.DescriptionTwo" />
					</div>
				</div>
				<div class="col-3">
					<div class="form-group mb-4">
						<label>Картинка для 2го блока</label>
						<img class="img-fluid" style="height: 250px;" src=@Category.ImgTwoUrl>
						<ImgManagerControl @bind-ChildName="Category.ImgTwoUrl" PathFolder="@urlPath"
							FolderName="@Category.ID.ToString()" IsSlider="false" />
					</div>
				</div>
				<div class="col">
					<div class="form-group mb-4">
						<label>Заголовок 3го блока</label>
						<InputText class="form-control" @bind-Value="Category.HeadingThree" />
					</div>
					<div class="form-group mb-4">
						<label>Описнаие для 3го блока</label>
						<InputTextArea class="form-control" @bind-Value="Category.DescriptionThree" />
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label>Картинка для 3го блока</label>
						<img class="img-fluid" style="height: 250px;" src="@Category.ImgThreeUrl">
						<ImgManagerControl @bind-ChildName="Category.ImgThreeUrl" PathFolder="@urlPath"
							FolderName="@Category.ID.ToString()" IsSlider="false" />
					</div>
				</div>
			</div>
		</EditForm>
	</TabPage>
</TabControl>
<div class="mt-2">
	<button form="creatCategoryForm" type="submit" class="btn btn-@ThemeColor">Сохранить</button>
	<NavLink class="btn btn-secondary" href="/admin/categories">Отмена</NavLink>
</div>

@code {
	public ICategoryRepository Repository => Service;

	[Inject]
	public NavigationManager? NavManager { get; set; }

	[Parameter]
	public long Id { get; set; } = 0;
	public Category Category { get; set; } = new Category();
	public bool TabIsActive { get; set; } = false;

	protected override void OnParametersSet()
	{
		if (Id != 0)
		{
			Category = Repository.Categorys.FirstOrDefault(с => с.ID == Id) ?? new();
			TabIsActive = true;
		}
	}

	public string GetEditUrl(long id) => $"/admin/categories/edit/{id}";

	private string urlPath = "imegs/img-category/";
	public void SaveCategory()
	{
		if (Id == 0)
		{
			Repository.CreateCategory(Category);
			folderManager.CeateDirectory(urlPath, Convert.ToInt64(Category.ID));
			if (Category.ID != 0)
			{
				TabIsActive = true;
				GetEditUrl(Convert.ToInt64(Category.ID));
				NavManager?.NavigateTo(GetEditUrl(Convert.ToInt64(Category.ID)));
				Notification notification = new Notification(1, "Категория сохранена", "Добавлена категория", Category.CategoryName);
				popupNotification.AddItem(notification);
				StateHasChanged();
			}
		}
		else
		{
			Repository.SaveCategory(Category);
			Notification notification = new Notification(1, "Изменения сохранены", "Запись отредактирована", Id.ToString());
			popupNotification.AddItem(notification);
			NavManager?.NavigateTo("/admin/categories");
		}
	}

	public string ThemeColor => Id == 0 ? "primary" : "warning";
	public string TitleText => Id == 0 ? "Создание" : "Редактирование";
}
