@using LampStore.Services
@using LampStore.Components
@model IEnumerable<Settings>

<div class="header-animation">
	<header id="header" class="header">
		<div class="container">
			<div class="header__wrapper">
				<div id="menu-checkbox" class="burger">
					<div class="burger-line"></div>
					<div class="burger-line burger-line-center"></div>
					<div class="burger-line"></div>
				</div>
				@Html.AntiForgeryToken()
				<a class="logo" asp-area="" asp-page="/Index">Lights 4 Apart</a>
				<nav id="navWrapper" class="nav__wrapper">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-area="" asp-page="/contacts">Контакты</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-page="/faq" asp-area="">Информация</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-page="/about" 
							   asp-route-Id="@HeaderSummaryViewComponent.IdAboutPage">Компания</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-area=""
								asp-page="/cooperationpages">Сотрудничество</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-page="/collections">Коллекции</a>
						</li>
						<li class="nav-item">
							<a class="nav-link a-btn__header" asp-page="/catalog" asp-route-productPage="1"
								asp-route-sortOrder="0">Каталог</a>
						</li>
					</ul>
					<div class="cart__wrapper">
						<vc:cart-summary /> @* корзина *@
					</div>
				</nav>
			</div>
		</div>
	</header>
	@ViewData["Breadcrumb"]
</div>



<div class="menu">
	<div class="container">
		<div class="menu__wrapper">
			@* <h2 class="menu__h2">LIGHTS 4 APART</h2> *@
			<div class="menu-wrapper__items mt-per-10">
				<a asp-page="/catalog" asp-route-productPage="1" asp-route-sortOrder="0" class="menu__h3">Каталог света</a>
				<a asp-page="/collections" asp-area="" class="menu__h3">Коллекции</a>
			</div>
			<hr class="footer-line__wrapper">
			<div class="menu-wrapper__items">
				<a asp-page="/about" asp-route-Id="@HeaderSummaryViewComponent.IdAboutPage" class="menu__h3">Компания</a>
				<a asp-page="/faq" asp-area="" class="menu__h3">Информация</a>
				<a asp-area="" asp-page="/cooperationpages" class="menu__h3">Сотрудничество</a>
				<a asp-area="" asp-page="/contacts" class="menu__h3">Контакты</a>
			</div>
			<hr class="footer-line__wrapper">
			<div class="menu__tel-soc">
				<ul class="menu__contacts-soc">
					@foreach (var social in Model.Where(s => s.Setting == TypeSettings.Socials && s.IsVisible ==
							true).ToList())
					{
						<li class="menu__item-soc">
							<a href="@social.Value" class="menu__h4-contacts">@social.NameSettings</a>
						</li>
					}
				</ul>
				<hr class="footer-line__wrapper">
				<ul class="menu__contacts-soc">
					@foreach (var email in Model.Where(s => s.Setting == TypeSettings.Email && s.IsVisible ==
							true).ToList())
					{
						<li class="menu__item-contact">
							<a href="mailto:@email.Value" class="menu__h4-contacts">@email.Value</a>
						</li>
					}
					@foreach (var phone in Model.Where(s => s.Setting == TypeSettings.PhoneNumber && s.IsVisible ==
							true).ToList())
					{
						<li class="menu__item-contact">
							<a href="tel:@phone.Value" class="menu__h4-contacts">@phone.Value</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
