@page "/Catalog/{CategoryName}/{Name}/{ProductID}"
@model CardProduct

@{
	Layout = "_Layout";
}

<div class="col-6" style="margin-top: 20px;">
	<img class="img-fluid" src=@Model.productCard?.MainPhoto>
	<h1>@Model.productCard?.Name</h1>
	<p class="h6" style="margin-top: 15px;">Цвет: @Model.productCard?.Color</p>
	<p class="h6" style="margin-top: 15px;">Цветовая температура: @Model.productCard?.Kelvins</p>
	<p class="h6" style="margin-top: 15px;">Короткое описание: @Model.productCard?.MinDescription</p>
	<p class="h6" style="margin-top: 15px;">Описание: @Model.productCard?.Description</p>
	<p class="h6" style="margin-top: 15px;">Категория товара: @Model.productCard!.Category?.CategoryName</p>
	<p class="h6" style="margin-top: 15px;">Тип: @Model.productCard?.Type</p>
	<p class="h6" style="margin-top: 15px;">Материал: @Model.productCard?.Material</p>
	<p class="h6" style="margin-top: 15px;">Наличие: @Model.productCard?.Availability</p>
	<p class="h5" style="margin-top: 15px;">Цена: @Model.productCard?.Price.ToString("c")</p>
	<p class="h6" style="margin-top: 15px;">@Model.productCard?.ProductID.ToString()</p>
	<p class="h6" style="margin-top: 15px;">Теги: @Model.productCard?.Tags</p>
	<form id="ProductID" asp-page="/Cart" method="post">
		<input type="hidden" asp-for="ProductID" />
		<input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
		<span class="card-text p-1">
			<button type="submit" class="btn btn-success btn-sm pull-right" style="float:right">
				Добавить в корзину
			</button>
		</span>
	</form>
</div>