@page
@model CartModel
@using System.Globalization

@{
	ViewData["Title"] = "Корзина покупок";
}

<h1 class="h1__caption mt-per-8">Корзина</h1>
<section class="container-cart__wrapper">
	<div class="cart-left__wrapper">
		@if (Model?.Cart.Lines.Count() != 0)
		{
			@foreach (var line in Model?.Cart.Lines ?? Enumerable.Empty<CartLine>())
			{
				<div class="product-cart__wrapper">
					<a class="product-cart-img__wrapper" asp-page="CardProduct"
					   asp-route-ProductID="@line.Product.Id" 
					   asp-route-Url="@line.Product.Name.ToLower()">
						<img class="product-cart-img" src="@line.Product.MainPhoto" alt="">
					</a>
					<div class="product-cart-decript__wrapper">
						<p class="product-card__description-p">@line.Product.Name</p>
						<p class="footer-card__text">Артикул: @line.Product.Artikul</p>
						<p class="footer-card__price" id="product-price" price-value="@line.Product.Price.ToString()">
							@line.Product.Price.ToString("C0", new CultureInfo("ru-RU"))</p>
					</div>
					<div class="product-cart__total-wrapper">
						<form class="recalculation" asp-page-handler="Recalculation" method="post">
							<div class="number-cart">
								<span class="minus quantity-product-count">-</span>
								<input type="number" class="quantity-count quantity-product-count" name="quantityProducts"
							value="@line.Quantity" />
								<span class="plus quantity-product-count">+</span>
							</div>
							<input type="hidden" name="productId" value="@line.Product.Id" />
							<input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
						</form>
						<p class="cart-total-price">@((line.Quantity * line.Product.Price).ToString("C0", new CultureInfo("ru-RU")))</p>
						<form asp-page-handler="Remove" method="post">
							<input type="hidden" name="ProductID" value="@line.Product.Id" />
							<input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
							<button type="submit" class="cart__btn-remove">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
									<path
								d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
								</svg>
							</button>
						</form>
					</div>
				</div>
			}
		}
		else
		{
			<div class="checkout-cart-empty__wrapper">
				<svg class="cart-emty-svg" width="117px" height="94px" viewBox="0 0 117 94" version="1.1"
				xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
					<title>ic-empty-basket</title>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
						<g id="ic-empty-basket.b6855e4e" transform="translate(0.000000, 1.050000)">
							<path
							d="M19.9,78 L28,79 L35.3,83.9 L96.8,83.9 L98.1,78.1 C109.7,79.6 117,81.7 117,84 C117,88.4 90.8,92 58.5,92 C26.2,92 0,88.4 0,84 C0,81.6 7.7,79.5 19.9,78 L19.9,78 Z"
							id="Path" fill="#B1B1B1" fill-rule="nonzero"></path>
							<circle id="Oval" fill="#B1B1B1" fill-rule="nonzero" cx="50" cy="63.95" r="4.3"></circle>
							<circle id="Oval" fill="#B1B1B1" fill-rule="nonzero" cx="83" cy="63.95" r="4.3"></circle>
							<circle id="Oval" fill="#000000" fill-rule="nonzero" cx="56" cy="55.95" r="2.2"></circle>
							<circle id="Oval" fill="#000000" fill-rule="nonzero" cx="75" cy="55.95" r="2.2"></circle>
							<g id="Group" stroke-linejoin="round" transform="translate(9.000000, 0.000000)" stroke="#000000"
							stroke-width="1.5">
								<path
								d="M65.093,68.5 C63.4712601,65.8513896 60.5985594,64.2260458 57.493,64.1999845 C54.481191,64.1944198 51.6662249,65.6957351 49.993,68.2"
								id="Path" stroke-linejoin="bevel"></path>
								<path
								d="M26.559,84.078 L19.059,79.078 L10.8,78 L0,24.6 L12,28 L14.956,30.925 M0,24.6 L84.011,24.611 L87.011,26.911 L99.831,30.638 M57.8,20.2 L57.8,17.8 C57.8,8 49.3,3.55271368e-15 39,3.55271368e-15 C28.5,3.55271368e-15 19.984,8 19.9999775,17.8 L20.011,24.496"
								id="Shape"></path>
								<path
								d="M76,30.5 L76,23.8 C76,14 67.5,6 57,6 C46.6,6 38.309,14 38.2,23.8 L38.128,30.305 M83.7,30.6 L99.7,30.6 L87.7,84 L26.4,84 L14.5,30.6 L61.8,30.6 L83.7,30.6 Z"
								id="Shape"></path>
							</g>
						</g>
					</g>
				</svg>
				<p class="product-card__description-p">В ВАШЕЙ КОРЗИНЕ ПУСТО</p>
				<p class="product-cart-chechout__name">Начните создание стиля с освещения прямо сейчас. Перейдите в каталог
					и добавьте товар в корзину.</p>
			</div>
		}
	</div>
	<div class="cart-right__wrapper">
		<div class="cart-right__container">
			<h2 class="h3__caption fw-bold">Ваш заказ</h2>
			<p class="product-card__description-p">Количество товаров, @Model?.Cart?.Lines.Select(q => q.Quantity).Sum()
				шт.</p>
			<p class="product-card__description-p">Общая стоимость корзины:</p>
			<p class="cart__total-price">@Model?.Cart?.ComputeTotalValue().ToString("C0", new CultureInfo("ru-RU"))</p>
			<div class="text-center">
				<a class="form-catalog__text cart__btn-checkout" asp-action="Checkout" asp-controller="Order">Оформить
					заказ</a>
			</div>
		</div>
	</div>
	<a class="back-button" href="@Model?.ReturnUrl">
		<svg style="margin-right: 10px;" fill="none" height="30" viewBox="0 0 24 24" width="30"
			xmlns="http://www.w3.org/2000/svg">
			<path clip-rule="evenodd"
				d="M8.29289 5.29289C8.68342 4.90237 9.31658 4.90237 9.70711 5.29289C10.0976 5.68342 10.0976 6.31658 9.70711 6.70711L5.41421 11H21C21.5523 11 22 11.4477 22 12C22 12.5523 21.5523 13 21 13H5.41421L9.70711 17.2929C10.0976 17.6834 10.0976 18.3166 9.70711 18.7071C9.31658 19.0976 8.68342 19.0976 8.29289 18.7071L2.29289 12.7071L1.58578 12L2.29289 11.2929L8.29289 5.29289Z"
				fill="#222222" fill-rule="evenodd" />
		</svg>
		Вернуться назад
	</a>
</section>
