@page "/catalog/{productPage?}"
@model CatalogModel
@using System.Globalization
@using LampStore.Models.ProductsPages

@{
	ViewData["Title"] = "Каталог освещения";
	ViewData["Breadcrumb"] = await Component.InvokeAsync("BreadcrumbSummary", new[] { (url: "/", page: "Главная"), (url:
"/catalog", page: "Каталог") });
}


<div class="">
	<div class="catalog__h">
		<h1>Каталог</h1>
	</div>
	<div class="catalog__wrapper mt-5">
		<div class="search-form__wrapper">
			<div class="search-left-panel__wrapper">
				<form id="catalogForm" method="get" asp-page="/catalog" asp-page-handler="Products"
					class="catalogForm-sub" asp-route-productPage="1">
					<div class="">
						<div class="search-name__wrapper">
							<input id="input-name" placeholder="Поиск по названию или артикулу" type="text"
								autocomplete="off" name="name" value="@Model.Name" class="searchByName form-control" />
							<span class="autocomplete__icon autocomplete__clear" hidden style="">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path
										d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
								</svg>
							</span>
							<ul id="autocomplete__results" class="autocomplete__results">
							</ul>
							@* <input type="submit" value="Поиск по названию" asp-route-productPage="1"
							class="element_a btn btn-default" /> *@
						</div>

						<div class="price-wrapper mt-per-5">
							<label class="form-catalog__text">Категория: </label>
							<select id="select-category" name="category" asp-items="Model.Category"
								SelectedValue="@Model.CategoryName" class="form-catalog__select">
								<option value="">Все</option>
							</select>
						</div>
						<div class="price-wrapper mt-per-5">
							<div class="search-input__hide">
								<a class="form-catalog__text open-input" data-target="1">Цена
									<span id="plus1" class="icon-plus"></span>
								</a>
								<div id="input1" class="search-input__inline">
									<div class="search-input">
										<label class="control-label">от: </label>
										<input id="minPrice" name="minPrice"
											placeholder="@Model.PagingInfo.PlaceholderMinPrice" value="@Model.MinPrice"
											class="search-form-control" type="number" min="0" />
									</div>
									<div class="search-input">
										<label class="control-label">до: </label>
										<input id="maxPrice" name="maxPrice"
											placeholder="@Model.PagingInfo.PlaceholderMaxPrice" value="@Model.MaxPrice"
											class="search-form-control" type="number" max="1000000000" />
									</div>
								</div>
							</div>
						</div>

						<div class="price-wrapper mt-per-5">
							<div class="search-input__hide">
								<a class="form-catalog__text open-input" data-target="2">Цвет
									<span id="plus2" class="icon-plus icon-plus-active"></span>
								</a>
								<div id="input2" class="search-input__inline" style="display: none;">
									<div id="color" class="">
										<ul class="">
											@foreach (string color in Model.DisplayedColors ??
													Enumerable.Empty<string>())
											{
												@if (!string.IsNullOrEmpty(color))
												{
													<li class="checkbox">
														<input type="checkbox" name="color" value="@color" id="@color"
															data-check="@color" class="" />
														<label for="@color" class="control-label">@color</label>
													</li>
												}
											}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="price-wrapper mt-per-5">
							<div class="search-input__hide">
								<a class="form-catalog__text open-input" data-target="3">Тип
									<span id="plus3" class="icon-plus icon-plus-active"></span>
								</a>
								<div id="input3" class="search-input__inline" style="display: none;">
									<div id="types" class="">
										<ul class="">
											@foreach (ProductType types in Model.DisplayedTypes ??
													Enumerable.Empty<ProductType>())
											{
												<li class="checkbox">
													<input type="checkbox" name="types" value="@types.Name" id="@types.Name"
														data-check="@types.Name" class="types" />
													<label for="@types.Name" class="control-label">@types.Name</label>
												</li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="price-wrapper mt-per-5">
							<div class="search-input__hide">
								<a class="form-catalog__text open-input" data-target="4">Материал
									<span id="plus4" class="icon-plus icon-plus-active"></span>
								</a>
								<div id="input4" class="search-input__inline" style="display: none;">
									<div id="materials" class="">
										<ul class="">
											@foreach (string material in Model.DisplayedMaterials)
											{
												@if (!string.IsNullOrEmpty(material))
												{
													<li class="checkbox">
														<input type="checkbox" name="materials" value="@material" id="@material"
															data-check="@material" class="types" />
														<label for="@material" class="control-label">@material</label>
													</li>
												}

											}
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="price-wrapper mt-per-5">
							<div class="search-input__hide">
								<a class="form-catalog__text open-input" data-target="5">Теги
									<span id="plus5" class="icon-plus icon-plus-active"></span>
								</a>
								<div id="input5" class="search-input__inline" style="display: none;">
									<div id="tags" class="">
										<ul class="">
											@foreach (var tags in Model.DisplayedTags ?? Enumerable.Empty<Tag>())
											{
												<li class="checkbox">
													<input type="checkbox" name="tags" value="@tags.Value" id="@tags.Value"
														data-check="@tags.Value" class="" />
													<label for="@tags.Value" class="control-label">@tags.Value</label>
												</li>
											}
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="form-clear__wrapper mt-per-5">
							<a class="form-catalog__text form__clear">Сбросить</a>
						</div>
					</div>
				</form>
			</div>
			<div class="">
				<div class="catalog-sort__wrapper catalogForm-sub mb-per-4">
					<select name="sortOrder" form="catalogForm" asp-items="Html.GetEnumSelectList<SortCatalog>()"
	  SelectedValue="@Model.SortedCatalog" class="form-catalog__select">
						<option class="sortOrderValue" value="@Model.SortedCatalog">
							@Model.SortedName
						</option>
					</select>
				</div>
				<div id="prod-view" class="search-result__wrapper">

					@if (!Model.DisplayedProducts.Any())
					{
						<div class="row">
							<div class="col text-center p-2">Нет товаров</div>
						</div>
					}
					else
					{
						@foreach (Product pr in Model.DisplayedProducts)
						{
							<div class="search-card__wrapper">
								<a class="search-card__info" asp-page="CardProduct" asp-route-ProductID="@pr.Id"
							asp-route-Url="@pr.MetaData.Url">
									<div id="img-container">
										<div class="search-card__image-wrapper">
											<img class="search-card__image" src="@pr.MainPhoto" alt="Купить светильник @pr.Name"
												title="Светильник @pr.Name">
										</div>
									</div>
									<div class="footer-card__wrapper">
										<p class="footer-card__text">@pr.Name</p>
										<p class="footer-card__price">@pr.Price.ToString("C0", new CultureInfo("ru-RU"))</p>
									</div>
								</a>
								<form id="ProductID=@pr.Id" class="addToCart" asp-page="/Cart" method="post">
									<input type="hidden" name="ProductID" asp-for="@pr.Id" />
									<input type="hidden" name="returnUrl"
										value="@ViewContext.HttpContext.Request.PathAndQuery()" />
									<button type="submit" class="btn-addToCart form-catalog__text">
										Добавить в корзину
									</button>
								</form>
							</div>
						}
					}
				</div>

			</div>
		</div>
		<div class="pagination__wrapper">
			<ul id="pagingbuttons" page-model="@Model?.PagingInfo" page-classes-enabled="true"
				page-class="pagination-btn page-link" page-class-li="page-item" page-class-normal=""
				page-class-selected="active" page-disabled-class="disabled" class="pagination">
			</ul>
		</div>

	</div>
	<div id="spinner-border" class="loader__wrapper" style="display: none;" role="status">
		<span class="visually-hidden">Loading...</span>
		<div class="lds-ring">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>
