@page "/cooperation/{ID}"
@model CooperationPage

@{
	Layout = "_Layout";
	ViewData["Title"] = @Model.cooperationPage!.NameCooperation;
	ViewData["Breadcrumb"] = await Component.InvokeAsync("BreadcrumbSummary", new[] { (url: "/", page: "Главная"),
(url: "/cooperation", page: "Сотрудничество"), (url: @Model.cooperationPage.ID.ToString(), page:
@Model.cooperationPage.NameCooperation) });
}

<div class="info-page__wrapper row pt-5 mt-10">
	<div class="col-12 col-xl-5">
		<div class="img-cooperation__wrapper">
			<div class="img-center__wrapper">
				<img class="img-responsive" src="@Model.cooperationPage.CooperationImg" alt="">
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-6 col-xs-12">
		<h1 class="h1__caption mb-per-5 fw-bold">@Model.cooperationPage.NameCooperation</h1>
		@Html.Raw(Model.cooperationPage.Description)
	</div>
</div>