@page "/cooperation"
@model CooperationPages
@{
	Layout = "_Layout";
	ViewData["Title"] = "Сотрудничество";
	ViewData["Breadcrumb"] = await Component.InvokeAsync("BreadcrumbSummary", new [] { (url: "/", page: "Главная"),
(url: "/cooperation", page: "Сотрудничество") });
}


<div class="col-12 mb-per-15 pt-per-5" data-color-section="dark">
	@if (@Model.DisplayCooperationPages.Count() > 0)
	{
		@foreach (var cooperationPage in @Model.DisplayCooperationPages)
		{
			<div class="scroll-m row align-items-xl-center border-b">
				<div class="col-12 col-xl-6">
					<div class="img-cooperation__wrapper">
						<div class="img-center__wrapper">
							<img class="img-responsive" src="@cooperationPage.CooperationImg">
						</div>
					</div>
				</div>
				<div class="col-12 col-xl-5 col-xs-12 hook">
					<h1 class="h3__caption fw-bold">@cooperationPage.NameCooperation</h1>
					<p class="product-card__description-p">@cooperationPage.MinDescription</p>
					<a asp-page="CooperationPage" asp-route-ID="@cooperationPage.ID" class="a-btn-link">Подробнее</a>
				</div>
			</div>
		}
	}
</div>